h2 {
    margin: 5px 0 0 0;
    background-color: #a6a6a6;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

h2 img:hover {
    cursor: pointer;
    background-color: red;
}

.noti-body {
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.noti-body h3 {
    margin: 5px;
    display: flex;
    justify-content: space-between;
}

.noti-body h3 p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}

.noti-body .desc {
    font-size: 16px;
    margin: 5px;
}

.noti-body .location {
    font-family: 'Courier New', Courier, monospace;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

:host {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 20px;
    flex-grow: 1;
    flex-basis: 0;
}