<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNDER PRODUCTION</title>
</head>
<body>
    
    <link rel="stylesheet" href="/CalApp/client/core/views/createCalendar/createCalendarView.css">

            <h2>Create new calendar</h2>

            <app-input
                label="Calendar name"
                placeholder="Enter name"
                width="100%"
                id="calName"
            ></app-input>
            
            <app-input
                label="Description"
                placeholder="Enter description of the group"
                width="100%"
                height="100px"
                id="calDesc"
            ></app-input>
        
            <toggle-btn
                inactive-header-text="Make calendar public"
                inactive-info-text="If set to private only invited members will be able to see calendar"
                active-header-text="Make calendar public"
                active-info-text="Calendar is now set to public and will be available to all users"
            ></toggle-btn>
            
            <search-users-modal></search-users-modal>

            <add-members titleElem="Add Admins" userListName="admins"></add-members>
            <add-members titleElem="Add Members" userListName="members"></add-members>

            
            <button id="createBtn">Create</button>
    
    <script type="module" src="production.js"></script>
</body>
</html>