<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNDER PRODUCTION</title>
</head>
<body>
    
    <link rel="stylesheet" href="/CalApp/client/core/views/createCalendar/createCalendarView.css">


    <app-input
        label="Input-field header text"
        placeholder="Enter input"    
    ></app-input>
    
    <add-members
        titleElem="Add Admins"
    ></add-members> 

    <toggle-btn></toggle-btn>
    <search-users-modal></search-users-modal> 
    
    <script type="module" src="production.js"></script>
</body>
</html>