:host {
    background-color: #d9d9d9;
    display: flex;
    gap: 10px;
    padding: 10px;
    border: 1px solid black;
    overflow-y: scroll;
    margin-top: 5px;
    margin-bottom: 5px;
}

p {
    margin: 0;
}