:host {
    display: block;
    margin: 20px 0px;
}

label {
    display: block;
}

#message {
    display: flex;
}

p {
    margin: 0;
    max-width: 70%;
    padding: 10px;
    background-color: #d6d6d6;
    border-radius: 8px;
    border-bottom-left-radius: 0px;
}

.right-label {
    text-align: right;
}

.right-msg {
    justify-content: flex-end;
}

.right-msg p {
    border-radius: 8px;
    border-bottom-right-radius: 0px;
}