

#createBtn {
    margin-top: 100px;
    padding: 10px 20px;
}

.members-container {
    display: flex;
    flex-direction: row;
}

.added-members {
    display: flex;
}

.member-cirkle {
    background-color: lightgray;
    padding: 8px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-sizing: border-box;
}

.add-member-btn {
    background-color: rgb(179, 179, 179);
    text-align: center;
    border: 2px solid rgb(45, 45, 45);
    margin-left: -10px;
}

.add-member-btn:hover{
    cursor: pointer;
}

.member1 {
    background-color: bisque;
}
.member2 {
    background-color: lightpink;
    margin-left: -15px;

}
.member3 {
    background-color: lightskyblue;
    margin-left: -15px;
}

.member4 {
    background-color: lightsalmon;
    margin-left: -15px;
}