.members-container {
    display: flex;
    flex-direction: row;
}

.added-members {
    display: flex;
}

.member-cirkle {
    background-color: lightgray;
    padding: 8px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-sizing: border-box;
}

.add-member-btn {
    background-color: rgb(179, 179, 179);
    text-align: center;
    border: 2px solid rgb(45, 45, 45);
    margin-left: -10px;
}

.member-add-margin {
    margin-left: -15px;
}