app-input{
    display: inline-block;
}
.view {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Helvetica;
}
h3{
text-align: center;
font-size: 14px;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.card {
    display: flex;
    padding: 8px 16px;
    background-color: rgba(211, 211, 211, 0.172);
}