
.icon-light {
    display: none;
}

.nav-btn.activeBtn .icon-dark {
    display: none;
}

.nav-btn.activeBtn .icon-light {
    display: inline;
}

.button-container {
    position: fixed;
    bottom: 0;
    width: 390px;
    border-top: 1px solid gray;
    display: flex;
    justify-content: space-around;
    padding-top: 12px;
    padding-bottom: 12px;
    box-sizing: border-box;
}

.nav-btn {
    background: none;
    border: none;
}

.nav-btn:hover {
    cursor: pointer;
}